@import "colors";

.about-title {
  text-align: center;
}

.developers {
  margin: 0;
  color: $black;

  li {
    color: $black !important;
  }
}

.box {
  width: 75%;
  height: 500px;
  background-color: $grey;
  border: 1px solid $black;
  position: relative;
  margin: 20px auto;
  padding: 20px;

  img {
    height: 300px;
  }

  p {
    display: flex;

    img {
      height: 360px;
      margin: 0 10px;
    }
  }
}